body {
  background-color: rgb(255, 255, 255);
  font: 700 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.background {
  float: left;
  width: 100%;
  height: 712px;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.cadastro {
  position: relative;
  float: left;
  clear: both;
  z-index: 17;
  width: 52.8333333333%;
  height: 541px;
  margin: -649px 0 0 23.58073%;
  background-color: rgba(240, 205, 101, 0.48);
}

.cadastro .text {
  width: 100%;
  font: 400 2em/2.5 'Open Sans';
  color: rgb(11, 62, 174);
}

.container {
  float: left;
  width: 100%;
}

.footer {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  background-color: rgb(11, 62, 174);
}

.text {
  float: left;
  min-height: 50px;
  text-align: center;
}

._button {
  display: block;
  float: left;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 80.0177444794%;
  height: 33px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

._text {
  width: 42.4166666666%;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-size: 1.875em;
  line-height: 1.5;
  color: rgb(240, 205, 101);
}

.cadastro ._button {
  clear: both;
  width: 28.7066246056%;
  height: 52px;
  margin: 40px 0 0 35.65162%;
  background-color: rgb(204, 21, 0);
  font-size: 1.5em;
}

.container ._button {
  height: 31px;
  margin-top: 10px;
  background-color: rgb(11, 62, 174);
  font-size: 1em;
}

.container ._button:hover {
  color: rgb(240, 205, 101);
}

.container-1 {
  height: 50px;
  background-color: rgb(11, 62, 174);
}

.container-2 {
  position: relative;
  clear: both;
  z-index: 8;
  height: 742px;
}

.cadastro ._input-1 {
  margin-left: 9.93198%;
}

.cadastro ._input-2,
.cadastro ._input-3,
.cadastro ._input-4 {
  margin: 28px 0 0 9.93198%;
}

.cadastro ._input-5 {
  margin: 28px 0 0 9.93691%;
}

.cadastro ._input-6 {
  margin: 28px 0 0 9.87776%;
}

.container ._button-1 {
  width: 6.5625%;
  margin-left: 17.00521%;
}

.container ._button-2 {
  width: 6.4583333333%;
  margin-left: 1.9362%;
}

.container ._button-3 {
  width: 6.5625%;
  margin-left: 2.03125%;
}

.container ._button-4 {
  width: 15%;
  margin-left: 1.9375%;
}