body {
  background-color: rgb(255, 255, 255);
  font: 700 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.cadastro {
  position: relative;
  float: left;
  z-index: 15;
  width: 52.8333333333%;
  height: 541px;
  margin: -576px 0 0 23.59896%;
  background-color: rgb(233, 246, 248);
}

.cadastro .text {
  width: 28.728805205%;
  margin-left: 35.55057%;
  font: 400 2em/2.5 'Open Sans';
  color: rgb(0, 0, 81);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 80%;
  height: 50px;
  margin: -677px 0 0 10%;
  background-color: rgb(11, 62, 174);
}

.container .text {
  width: 31.9612590799%;
  margin-left: -0.06999%;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-size: 1.875em;
  line-height: 1.5;
  color: rgb(240, 205, 101);
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 80%;
  height: 720px;
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
}

.text {
  float: left;
  min-height: 50px;
  text-align: center;
}

._button {
  display: block;
  float: left;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 80.0177444794%;
  height: 33px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 0.75em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.cadastro ._button {
  clear: both;
  width: 28.7066246056%;
  height: 52px;
  margin: 40px 0 0 35.65162%;
  background-color: rgb(204, 21, 0);
  font-size: 1.5em;
}

.container ._button {
  height: 31px;
  margin-top: 10px;
  background-color: rgb(11, 62, 174);
  font-size: 1em;
}

.container ._button:hover {
  color: rgb(240, 205, 101);
}

.cadastro ._input-1 {
  margin-left: 9.93198%;
}

.cadastro ._input-2,
.cadastro ._input-3,
.cadastro ._input-4 {
  margin: 28px 0 0 9.93198%;
}

.cadastro ._input-5 {
  margin: 28px 0 0 9.93691%;
}

.cadastro ._input-6 {
  margin: 28px 0 0 9.87776%;
}

.container ._button-1 {
  width: 6.5625%;
  margin-left: 27.61035%;
}

.container ._button-2 {
  width: 6.4583333333%;
  margin-left: 1.93717%;
}

.container ._button-3 {
  width: 6.5625%;
  margin-left: 2.03776%;
}

.container ._button-4 {
  width: 15%;
  margin-left: 1.93848%;
}